#divMessaggio{
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
}
#casellaPosta{
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
}
#mittente{
    padding: 20px;
    background-color: deepskyblue;
    width: 100%;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 20px;
}
#container{
    margin-bottom: 10px;
}
.title{
    font-weight: bold;
    color: cornflowerblue;
    margin:10px;
}
#buttonsDiv{
    margin-bottom: 20px;
    margin: 10px;
}
th{
    color: blue;
}
#divAdmin{
    margin:10px;
}