#container{
    display: flex;
    flex-direction: column;
 }
 #titolo{
    align-self: center;
 }
 #containerInfo{
    display:flex;
    justify-content: center;
 }
 #imgAnimale{
    width: 35vw;
    height: 50vh;
    margin-left: 40px;
 }
 @media only screen and (min-width:150px) and (max-width:700px) {
   #containerInfo{
      display: flex;
      flex-direction: column;
      
   }
   #imgAnimale{
      width: 100%;
      margin-left: 0px;
   }
   #buttonDiv{
      margin-bottom: 10px;
   }

 }