#container{
    display: flex;
    flex-direction: column;
}
#titolo{
    align-self: center;
    margin-top: 1%;
}
#containerInfo{
    display:flex;
    justify-content: center;
}
 #imgAnimale{
    width: 40%;
    align-self: center;
 }
 .divider:after,
 .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    }
.h-custom {
    height: calc(100% - 73px);
    }
@media (max-width: 450px) {
.h-custom {
    height: 100%;
    }
    }
#register{
    display: none;
}  
a {
   cursor: pointer;
}  